/* styles.css */
body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 10px;
    line-height: 1.6;
    scroll-behavior: smooth;
}

head {
    
    text-align: right;
}

header {
    text-transform: uppercase;
    color: #fff;
    padding: 2em 0;
    text-align: center;
}

header img {
    width: 50px;
    height: auto;
    margin: 2px auto;
}

.subtituloDaPagina {
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

.botaoOrcamento {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    border: none;
    padding: 1em;
    margin: 2em 0;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

.botaoOrcamento:hover {
    background-color: darkgoldenrod;
}

nav ul {
    cursor: pointer;
    text-transform: uppercase;
    list-style: none;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.35s ease-in-out;
}

nav ul li a:hover {
    color: rgb(212, 152, 78);
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
    text-align: center;
    padding: 2em;
    color: #fff;
}

section h2, section h3 {
    text-transform: uppercase;
}

section h3 {
    color: rgb(212, 152, 78);
}

section p {
    font-family: sans-serif;
}

.descricao {
    font-size: 13px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    text-wrap: balance;
}

#projetos .projeto {
    margin-bottom: 1em;
}

footer {
    font-family: unset;
    font-size: 55%;
    text-align: center;
    padding: 1em 0;
    background: #33333362;
    color: #fff;
    width: 100%;
}
